* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  color: #16161d;
  font-size: 16px;
}
i {
  font-size: x-small;
}
html,
body {
  font-size: 15px;
  background-color: #f0f0f0;
}
.container {
  width: 80%;
  margin: 0 auto;
}

/* HEADER & TOPHEADER PART */

.topheader {
  position: fixed;
  width: 100%;
  background-color: #e32636;
  display: flex;
  flex-direction: row;
  height: 25px;
  z-index: 1;
  justify-content: space-between;
}
.contact_info {
  display: flex;
  flex-direction: row;
  padding-left: 10%;
  font-size: x-small;
}
.contact_info p {
  color: white;
  padding: 6px 20px 10px 7px;
  font-size: x-small;
}
.contact_info i {
  padding-top: 8px;
}
.social_media {
  display: flex;
  flex-direction: row;
  font-size: x-small;
  padding-right: 10%;
}
.social_media i {
  padding: 3px 10px 10px 10px;
}
/* FOOTER */

footer {
  background-color: #2e2e2e;
}
.upperfooter {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 0 auto;
  font-size: 14px;
}
.upperfooter .col1 {
  padding: 0 100px;
}
.col1 ul,
.col1 {
  font-weight: 300;
  list-style: none;
  text-align: left;
  background-color: #2e2e2e;
  line-height: 30px;
}
.upperfooter .col1 {
  padding-top: 35px;
  padding-bottom: 35px;
}
.reviews .col1 {
  background-color: white;
  font-size: 14px;
}
.col1 h3 {
  padding-top: 20px;
  font-size: 14px;
}
.col1 li,
.col1 p {
  font-size: 14px;
}
.upperfooter img {
  padding-top: 25px;
  width: 175px;
}
.upperfooter h3,
.upperfooter p,
.upperfooter li {
  color: white;
}
.upperfooter p,
.upperfooter li {
  color: #919191;
}
.upperfooter p:hover,
.upperfooter li:hover {
  color: white;
  cursor: pointer;
  border-bottom: 1px solid #e32636;
}
#opened {
  background-color: #e32636;
  color: white;
  font-style: italic;
  border-radius: 5px;
  padding: 2px 5px;
  font-size: 14px;
}
#closed {
  background-color: #737373;
  color: white;
  font-style: italic;
  border-radius: 5px;
  font-size: 14px;
  padding: 2px 5px;
}

.mainfooter {
  height: 40px;
  background-color: #222222;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 205px 0px 205px;
}
.left {
  float: left;
  color: white;
}
.right {
  float: right;
}
.right i {
  padding: 0 12px;
  width: 25px;
}

/* NAVIGATION PART */
.header_content {
  margin-top: 25px;
  position: fixed;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  z-index: 1;
  box-shadow: 1px 1px 50px -24px #5e5e5e;
}
.nav_logo {
  margin-left: 10%;
}
.nav_logo img {
  height: 140px;
  width: 140px;
  padding-top: 5px;
}
.navbar {
  margin-right: 10%;
}
.nav-items {
  display: flex;
  list-style: none;
}
.nav-items a {
  text-decoration: none;
  color: #16161d;
}
.navbar li a {
  margin: 10px;
  font-size: 15px;
  text-decoration: none;
  color: #383e42;
  font-weight: 400;
}
.navbar li a:hover {
  border-bottom: 1.5px solid #e32636;
}

.navbar .active {
  border-bottom: 1.5px solid #e32636;
}
