<main>
<div class="container">
<br><br><br><br><br><br>

<h2 class="dashboard_h2">Welcome back, <b>Admin</b></h2>

<div class="add_new_car">
  
    <p class="title"> Add new car</p>

    
</div>

<div class="delete_car">
    <p class="title">Delete car by ID</p>
</div>
<div  class="feedbacks">
    <p class="title">Feedbacks</p>
    <table id="feedback">
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Subject</th>
        <th>Message</th>
        <th>Date posted</th>
        <<<<feedback>>>>
    </table>
<br><br><br><br><br><br>
</div>
<div  class="purchases">
    <p class="title">Purchases</p>
    <table id="purchases">
        <th>ID</th>
        <th>Name</th>
        <th>Car</th>
        <th>Date</th>
    </table>
</div>
</div>
</main>