<main>
    <BR>
    <BR></BR></BR></BR></h2>
    <div class="container">
    <div id="purchase">
    
    <div class="car">
        <img src="images/cars/carpictures/audia4.jpg" alt="">
    </div>
    <div class="cardetails">
        <h1>Audi A4 3.0 V6 TDI Sport quattro</h1>
    <h3>39,000€</h3>
    <button >PURCHASE NOW</button>
        <div class="carspecs">
        <div class="cardetails_left">
       <p id="hirit"><strong>Category:</strong></p> 
       <p ><strong>Doors:</strong></p> 
       <p id="hirit"><strong>Transmission:</strong></p>
       <p ><strong>Drivetrain:</strong></p>
       <p id="hirit"> <strong>Torque:</strong></p>
       <p ><strong>Power</strong></p>
        </div>
        <div class="cardetails_right">
        <p id="hirit">Sedan</p> 
        <p >4/5</p>
        <p id="hirit">Automatic</p>
        <p>AWD</p>
        <p  id="hirit">273 lb-ft @ 1600 rpm</p>
        <p >261 hp @ 6500 rpm</p>    
    </div>
        </div>
      
       
    
    
    </div>
    </div>
    <a id="back" href="cars.php">Back</a>
    </div><br>
    <br>
    <br>
    <br>
    
    </main>