<main>
    <BR>
    <BR></BR></BR></BR></h2>
    <div class="container">
    <div id="purchase">
    
    <div class="car">
        <img src="<<<<car_picture>>>>" alt="">
    </div>
    <div class="cardetails">
        <h1><<<<car_title>>>></h1>
    <h3><<<<car_price>>>></h3>
    <button >PURCHASE NOW</button>
        <div class="carspecs">
        <div class="cardetails_left">
       <p id="hirit"><strong>Category:</strong></p> 
       <p ><strong>Doors:</strong></p> 
       <p id="hirit"><strong>Transmission:</strong></p>
       <p ><strong>Drivetrain:</strong></p>
       <p id="hirit"> <strong>Fuel:</strong></p>
       <p ><strong>Power</strong></p>
        </div>
        <div class="cardetails_right">
        <<<<car_details>>>>    
    </div>
        </div>
    </div>
    </div>
    <a id="back" href="cars.php">Back</a>
    </div><br>
    <br>
    <br>
    <br>
    
    </main>