<div id="servicesbanner">
    <img src="images/services/banner/servicebanner.jpg" alt="banner"  width="100% " >
    <h1>
        Service
    </h1>
    <p>
        We also offer other services for your car. Small its shy way had woody downs power. <br>

        To denoting admitted speaking learning my exercise so in. Procured shutters mr it feelings. To or three offer house begin taken am at.
    </p>
  </div>
  <div class="container">
    <div class="services_content">
      <<<<services>>>>
    </div>
  </div>